#conteneur {
   clear:both;
   margin:1px;
   color:#333333;
   font-family:arial,verdana,tahoma;
   font-size:12px;
   min-height:2px;
   /*border:1px solid #999;
   background-color:#bbb;*/
}
.boutons{clear:both;float:right;padding:2px;width:auto;border:1px solid #999;}
.repondre{clear:both;float:left;cursor:pointer;margin:0 0 0 4px;}
.poubelle{float:left;margin:0 0 0 12px;cursor:pointer;}
